@media only screen and (max-width: 1399px){
	.holder_ff{
		transform: scale(.8);
	}
}

@media only screen and (max-width:  532px){
	.holder_ff{
		transform: scale(.7);
	}
}

@media only screen and (max-width:  425px){
	.holder_ff{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transform: scale(.6);
	}
}