/* Style the buttons that are used to open and close the accordion panel */
.accordion_qb {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 800px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    font-size: 19px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion_qb:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel_qb {
    display: flex;
    justify-content: center;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }