@media only screen and (max-width:  1380px){
	.item{
		width: 225px;
		height: 225px;
	}
	
	.accordion{
		width: 225px;
		height: 225px;
		font-size: 18px
	}

	.panel{
		max-height: 225px;
		overflow: auto;
		width: 225px;
		height: 225px;
		bottom: 225px;
		font-size: 13px;
	}

	.item:hover .panel{
		bottom: 225px
	}

	.big{
		width: 480px;
	}

	.superLong{
		width: 990px
	}
}

@media only screen and (max-width:  1024px){

	.welcomeText{
		padding-top: 6vh;
		height: auto;
		padding-right: 0;
	}

	.texty{
		font-size:  40px; 
	}

	.text{
		width: 600px
	}

	.sT{
		margin-top: 3vh;
		font-size: 13px;
	}

	.buttonDiv{
		display: flex;
		justify-content: center;
		margin-top:  6vh;
		padding-right: 0;

	}

	.button{
		display: block;
		font-size: 15px;
		padding: 2vh 5vw;
		margin-left: 0;
	}

	.button:last-child{
		padding: 2vh 7vw;
	}

	.item, .accordion, .panel{
		width: 160px;
		height: 160px;
	}

	.accordion{
		font-size: 16px;
	}

	.panel{
		bottom: 160px;
		padding: 10px 15px;
	}

	.item:hover .panel{
		bottom: 160px;
		left: 0;
		transition: 0.5s;
	  }

	.big{
		width: 350px;
	}

	.superLong{
		width: 730px
	}

	.gINfo{
		width: 100%;
		margin-top: 30px;
		padding: 0 40px;
		font-size: 15px;
	}

	.bottom{
		margin-top: 80px;
	}

	.infoText{
		font-size: 20px;
	}

	.s2{
		margin-top: 14px;
	}

	.splitter{
		height: 70px;
	}

	.kiv{
		font-size: 25px;
	}


}


@media only screen and (max-width:  768px){

	.sPage{
		height: 60vh;
	}

	.welcomeText{
		padding-left: 25px;
		padding-right: 10px;
		padding-top: 1vh;
	}

	.texty{
		font-size: 20px;
	}

	.sT{
		font-size: 10px;
	}

	.buttonDiv{
		display: flex;
		justify-content: center;
		text-align: center;
		padding: 0;
	}

	.button{
		display: block;
		font-size: 12px;
		margin-left: 0;
	}
	
	.item{
		width: 120px;
		height: 120px;
		margin: 0 5px;
	}

	.accordion{
		width: 120px;
		height: 120px;
		max-height: 120px;
		font-size: 10px;
		overflow: auto;
		padding: 8px;
	}

	.panel{
		height: 120px;
		width: 120px;
		bottom: 120px;
		font-size: 8px;
	}

	.big{
		width: 250px;
	}

	.superLong{
		width: 505px
	}

	.item:hover .panel{
		bottom: 120px
	}
	
	.gINfo{
		font-size: 10px;
		margin-top: 11px;
		padding: 0 20px;
	}

	.bottom{
		margin-top: 40px;
		padding-bottom: 30px;
	}

	.infoText{
		font-size: 15px;
		text-align: center;
	}

	.s2{
		margin-top: 6px
	}

	.splitter{
		height: 51px;
	}

	.kiv{
		font-size: 23px;
	}
}

@media only screen and (max-width: 550px){
	.item{
		width: 90px;
		height: 90px;
		margin: 0 5px;
	}

	.accordion{
		width: 90px;
		height: 90px;
		max-height: 90px;
		font-size: 10px;
		overflow: auto;
		padding: 8px;
	}

	.panel{
		height: 90px;
		width: 90px;
		bottom: 90px;
		font-size: 8px;
	}

	.big{
		width: 190px;
	}

	.superLong{
		width: 390px
	}

	.item:hover .panel{
		bottom: 90px
	}
}

@media only screen and (max-width:  425px){
	.welcomeText{
		width: 300px;
		padding-left: 30px;
		justify-content: center;
		padding-top: 5px;
	}

	.text{
		width:  100%;
	}

	.texty{
		font-size: 20px;
	}

	.sT{
		font-size: 8px;
	}

	.buttonDiv{
		padding-right: 0;
	}


	.button{
		margin-left:  0;
		font-size: 10px;
		padding: 8px 20px;
	}

	.button:last-child{
		padding: 8px 26px;
	}

	.block{
		margin-bottom: 6px;
	}

	.item{
		width: 65px;
		height: 65px;
	}

	.accordion{
		width: 65px;
		height: 65px;
		border-radius: 7px;

		font-size: 6px;
	}

	.panel{
		width: 65px;
		height: 65px;
		bottom: 65px;

		font-size: 5px;
	}

	.item:hover .panel{
		bottom: 65px;
	}

	.big{
		width: 140px;
	}

	.superLong{
		width: 290px
	}


	.gINfo{
		margin-top: 20px;
		font-size: 6px;
	}

	.bottom{
		margin-top:  15px;
	}

	.infoText{
		font-size: 8px;
	}


	.splitter{
		height: 28px;
		width: 2px
	}

	.kiv{
		font-size:  10px;
	}

}

@media only screen and (max-width:  320px){
	
}