
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(23, 23, 23);
}


.sPage{
    width: 100%;
    height:100vh;
}


.welcomeText{
    display: flex;
    justify-content: center;
    padding-right: 240px;
    padding-top: 120px;
    width: 100%;
    height: 400px;
    text-align: left;
}


.texty{
    text-transform: uppercase;
    font-size: 50px;
    color:rgb(28, 30, 33);
}

.text{
    width: 600px;
}

.smallText{
    width: 100%;
    background-color: #fff;
}

.sT{
    margin-top: 30px;
    color:rgb(28, 30, 33);
    font-size: 15px;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    padding-right: 830px;
    width: 100%;
    margin-top: 50px;
}

.naV{
    margin-left: 300px;
    background-color: aqua;
    width: 100px;
    height: 45px;

}

.button{
    border-radius: 0;
    margin-left: 340px;
    padding: 18px 45px;
    

    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(226, 97, 29, 1);
    
}
.button:hover {
    cursor: pointer;
}
.button:last-child{
    margin-left: 0;
    background-color: rgb(23, 23, 23);
    padding: 18px 60px;
}

.justHolder{
    display: flex;
    justify-content: space-between;
}   



.dTextDiv{
/*    margin-left: 100px;*/
    text-align: left;
    width: 600px;
}

.dText{
    text-transform: uppercase;
    font-size: 40px; 
}

.dTextDisc{
    margin-top: 50px;
    font-size: 20px
}

.itemHilder{
    display: flex;
    justify-content: space-around;
    /* margin-right: 50px; */
    /* margin-left: 70px; */
    width: 100%;
/*    padding: 0 20px;*/
}

.firstCol {
    width: 680px;
}




  /* .active, .accordion:hover {
    background-color: #ccc;
  } */


  .accordion1 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin-right: 40px;
    padding: 18px;
    width: 640px;
    height: 300px;
    text-align: center;
    border: none;
    border-radius: 16px;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
  }

  .itemSecond {
    width: 300px;
    height: 300px;
    padding: 0;
    overflow: hidden;
    margin-left: 10px;
    margin-right:  12px;
  }

  .itemSecond:last-child{
    margin-left: 1vw;
    
  }

  .centralItem{
    margin-left: 3vw !important;
  }

  
  .panelFirst{
    padding: 0 18px;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    color: #fff;
    background-color: rgba(46, 45, 45, 0.9);
    bottom: 300px;
    left: 300px;
    border-radius: 16px;
    padding: 30px;
  }
  .panelBig{
    width: 640px;
    left: 640px;
    padding: 0;
  }
  .last{
    width: 640px;
  }
  .lastFirst {
    width: 640px
  }

  .lastSecond {
    width: 640px;
  }
  
  .itemSecond:hover .panelFirst {
    left: 0px;
    transition: 0.5s;
  }
  .test {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;  
}


.sec{
    justify-content: space-around;
    margin-top: 30px;
/*    padding: 0 20px;*/
    width: 100%;
}

.first{
    margin-left: 40px;
}

.second{
    margin-right: 40px;
}

.thirdPage{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-top: 1px;
}

.lst{
    width: 100%;
    height: 300px;
    justify-content: space-around;
    margin-top: 30px;
/*    padding: 0 55px;*/
}

.panelThird {
    padding: 0 18px;
    position: relative;
    box-sizing: border-box;
    width: 640px;
    height: 300px;
    color: #fff;
    background-color: rgba(46, 45, 45, 0.9);
    bottom: 300px;
    left: 680px;
    border-radius: 16px;
    padding: 30px;
 }
 .panelForth {
    width: 640px;
 }
 .itemThird{
    overflow: hidden;
 }
 .itemThird:hover .panelThird{
    left: 0;
    bottom: 300px;
    transition: 0.5s;
 }
.gINfo{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

    text-align: center;
}

.bottom_support{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 120px;
    padding-bottom: 40px;

}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:  50%;
    height: 20px;
    text-align: center;
}

.infoText{
    font-weight: 700;
    font-size: 30px;
    color:rgb(23, 23, 23);
}

.s2{
    margin-top: 30px;
}

.s2:hover{
    color: rgb(34, 42, 149);
}

.splitter{
    width: 3px;
    height: 120px;
    background-color: rgb(23, 23, 23);
    border-radius: 18px;
}

.kivano{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.kiv{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;

    color:rgb(23, 23, 23);

}

.kiv:hover{
    color: rgb(34, 42, 149);
}


/* New boxes */

.secondPage{
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0 auto;
  padding-top: 90px;

}

.holderOfBlocks{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.block{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.boxHolder{
    display: flex;
}

.secondBlock{
  flex-direction: row-reverse;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 300px;
  height: 300px;
  text-align: center;
  border: none;
  border-radius: 16px;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
}

.panel {
  padding: 0 18px;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  color: #fff;
  background-color: rgba(46, 45, 45, 0.9);
  bottom: 300px;
  left: 300px;
  border-radius: 16px;
  padding: 30px;
}
.lefty{
  left: 630px
}

.superLefty{
  left: 1290px
}

.item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 10px;
  margin-right: 20px;
}

.big{
  width: 630px
}

.superLong{
  width: 1290px
}


/* .item:last-child{
  margin-right: 10;
  margin-left: 12px;
} */

.item:hover .panel{
  bottom: 300px;
  left: 0;
  transition: 0.5s;
}
.item:hover .accordion{
  color: #eee;
}
.itemSecond:hover .accordion{
  color: #eee;
}
.itemThird:hover .accordion{
  color: #eee;
}

.firstJustHolder{
  align-items: flex-end;
}

