.header_onb{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.linkDiv_onb{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}



.nav_onb{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: rgb(224, 224, 224);
    transition: color .1 linear;

    text-decoration: none;
    
    margin: 12px 50px;
    
    transition: color .1s  linear;
}

.nav_onb::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: rgb(28, 30, 33);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;

    transition: opacity .1s linear;
}

.nav_onb:hover{
    color: rgb(28, 30, 33)
}

.nav_onb:hover::after{
    opacity: 1;

}