@media only screen and (max-width: 1390px){

    .wrapper_ocfmt{
        transform: scale(.8);
    }


    .playerHolder_mt{
        flex-wrap: nowrap;
        max-width: 1250px;
        overflow-x: scroll;
        overflow-y: unset;
        padding: 5px 40px;
        padding-bottom: 10px;
        height: 429px
    }

    .card_ocfmt{
        width: 280px;
        min-width: 280px;
        height: 370px;
    }

    .curveOne_ocb{
        height: 143px;
        width: 128px
    }

    .deliteHolder_ocfmt{
        width: 55px
    }

    .photoHolder{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .curveTwo_ocb{
        transform: scale(.8);
        right: -16px
    }

    .myTeamInfoPartHolder_ocf{
        top: 226.01px
    }

    .myTeamTextOfNameHolder_ocb{
        font-size: 16px;
    }

    .divider{
        margin-bottom: 10px;
    }

    .myTeamField_ocf{
        transform: scale(.9);
        margin-bottom: 6px;
    }

    .myTeamCurveThree{
        transform: scale(.8);
        bottom: -50px;
        left: -12px
    }

    .card_ocfmt{
        margin: 0 10px 10px 10px
    }

    .deckCardHolder{
        padding: 35px 20px 0 20px;
    }

    .wrapper_nmt{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_nature{
        width: 80vw;
    }

    .upperHolder .teamNameHolder span{
        font-size: 35px;
    }

    .deckTop .nameOfTheDeck span{
        font-size: 27px;
    }

    .deckTop .buttonSwitcher{
        padding: 0 18px;
    }

    .playersDeckHolder .playersDeck{
        height: 48vw;
    }

    .container_nature{
        padding-bottom: 10px;
    }

    .container_nature .card_test{
        min-width: 290px;
    }

    .container_nature .card_test:not(:first-child){
        margin-left: -122px;
    }
}


@media only screen and (max-width: 1024px){

    .counterDiv_mt{
        margin-left: 166px;
    }

    .playerHolder_mt{
        padding: 5px 20px;
        height: 390px;
        margin-top: 10px
    }

    .front_ocfmt{
        transform: scale(.8);
    }

    .card_ocfmt{
        margin: 0 -36px 10px 10px
    }

    .card_ocfmt:first-child{
        margin-left: -30px;
    }

    .input_mt{
        width: 260px;
        font-size: 17px;
    }

    .counter_mt{
        font-size: 17px;
    }

    .textOfTheSecondGroup_mt{
        font-size: 20px
    }

    .container_nature .card_test{
        min-width: 204px;
    }

    .container_nature .card_test:not(:first-child){
        margin-left: -62px;
    }

    .playersDeckHolder .playersDeck{
        height: 56vw;
    }
}

@media only screen and (max-width: 768px){

    .firstGroupOfBloks_mt{
        align-items: center;
    }

    .counterDiv_mt{
        margin-left: 0
    }

    .teaName_mt{
        margin: 0 40px;

    }

    .input_mt{
        width: 180px;
        font-size: 13px;
    }

    .counter_mt{
        font-size: 13px;
    }

    .body_mt{
        margin-top: 10px;
    }

    .secondGroupOfBlocks_mt{
        margin-top: 20px
    }

    .textOfTheSecondGroup_mt{
        font-size: 17px;
    }

    .playerHolder_mt{
        margin-top: -46px
    }

    .card_ocfmt{
        transform: scale(.8);
        margin-right: -91px;
    }

    .card_ocfmt:first-child{
        margin-left: -68px
    }

    .playersDeckHolder .playersDeck{
        height: 103vw;
    }

    .deckTop .nameOfTheDeck span{
        font-size: 20px;
    }

    .deckTop .nameOfTheDeck{
        width: 40vw;
    }

    .deckTop .buttonSwitcher{
        padding: 0 10px;
    }

    .upperHolder .teamNameHolder span{
        font-size: 30px;
    }

    .divider_nmtp{
        width: 25vw;
    }

    .container_nature{
        width: 66vw;
    }

    .playersDeckHolder .playersDeck{
        height: 56vw;
    }

}

@media only screen and (max-width: 694px){
    .playersDeckHolder .playersDeck{
        height: 71vw;
    }
}

@media only screen and (max-width: 563px){
    .playersDeckHolder .playersDeck{
        height: 71vw;
    }
}

@media only screen and (max-width: 480px){
    .secondGroupOfBlocks_mt{
        padding: 5px 20px;
    }

    .teaName_mt{
        margin: 0 20px;
    }

    .input_mt{
        width: 135px
    }

    .input_mt, .counter_mt{
        font-size: 11px;
    }

    .body_nm{
        padding: 0 18px;
    }

    .container_nature{
       width: 78vw;
    }

    .deckTop .nameOfTheDeck span{
        font-size: 15px;
    }

    .upperHolder .teamNameHolder span{
        font-size: 22px;
    }

    .playersDeckHolder .playersDeck{
        height: 123vw;
    }

}